:root {
    --base-clr: #112a1a;
    --line-clr: #344a34;
    --hover-clr: #1d3a2a;
    --text-clr: #e6f6e6;
    --accent-clr: #63ff5e;          
    --secondary-text-clr: #b0c1b3;  
}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2, p {margin-top: 1em;}
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 200px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
